# Project Outline

In this project, you will analyze local and global temperature data and compare the temperature trends where you live to overall global temperature trends.

## 1) Extracting the data

### Query to extract city data:

SELECT year, city, country, avg_temp

FROM city_data

WHERE city = 'Rio De Janeiro';


### Query to extract global data:

SELECT year, avg_temp

FROM global_data;

## 2) Open Up The CSVs:

In [2]:
# Imports
import numpy as np
import pandas as pd

In [4]:
# Loading city data
city = pd.read_csv('city_data.csv')
city

     year            city country  avg_temp
0    1832  Rio De Janeiro  Brazil     23.05
1    1833  Rio De Janeiro  Brazil     24.11
2    1834  Rio De Janeiro  Brazil     23.27
3    1835  Rio De Janeiro  Brazil     22.73
4    1836  Rio De Janeiro  Brazil     22.91
..    ...             ...     ...       ...
177  2009  Rio De Janeiro  Brazil     24.98
178  2010  Rio De Janeiro  Brazil     24.95
179  2011  Rio De Janeiro  Brazil     24.32
180  2012  Rio De Janeiro  Brazil     24.84
181  2013  Rio De Janeiro  Brazil     25.19

[182 rows x 4 columns]

In [ ]:
global = pd.read_csv('')